.chat-container {
  width: 90vw;
  height: 90vh;
  border: 2px solid #ccc;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
}

.chat-container.dark {
  background-color: #2e2e2e;
  color: #f9f9f9;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  margin-left: 20px;
  margin-top: 20px;
  padding: 12px;
  border-radius: 20px;
  max-width: 80%;
}

.message.user {
  background-color: #f1f1f1;
  align-self: flex-end;
}

.chat-container.dark .message.user {
  background-color: #444;
}

.message.bot {
  background-color: #d1e6f0;
  align-self: flex-start;
}

.chat-container.dark .message.bot {
  background-color: #555;
}

/* Updated input form container to use flexbox for vertical stacking */
.input-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 85%;
}

.input-field {
  width: 100%;
  margin-bottom: 10px; /* Space between textboxes */
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.input-field:focus {
  border-color: #007bff;
}

.chat-container.dark .input-field {
  background-color: #444;
  border-color: #555;
  color: #f9f9f9;
}

.submit-btn {
  display: none;
}

.upload-btn {
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 8px;
}

.upload-btn i {
  font-size: 20px;
  color: #007bff;
}

.upload-btn:hover i {
  color: #0056b3;
}

.theme-toggle-btn {
  background-color: #4f4f4f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 10px;
}

.theme-toggle-btn:hover {
  background-color: #0e0e0e;
}

.clear-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.clear-btn:hover {
  background-color: #ff1a1a;
}

.theme-toggle-btn {
  background-color: #4f4f4f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.theme-toggle-btn:hover {
  background-color: #0e0e0e;
}

/* Wrapper for buttons */
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
}

.logo-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logo {
  width: 200px;
  height: auto;
  border-radius: 25px;
}
